@font-face {
  font-family: 'Radikal';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/default-normal-100.eot');
  src: url('../fonts/default-normal-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-normal-100.woff2') format('woff2'), url('../fonts/default-normal-100.woff') format('woff'),
    url('../fonts/default-normal-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/default-italic-100.eot');
  src: url('../fonts/default-italic-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-italic-100.woff2') format('woff2'), url('../fonts/default-italic-100.woff') format('woff'),
    url('../fonts/default-italic-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/default-normal-700.eot');
  src: url('../fonts/default-normal-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-normal-700.woff2') format('woff2'), url('../fonts/default-normal-700.woff') format('woff'),
    url('../fonts/default-normal-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/default-italic-700.eot');
  src: url('../fonts/default-italic-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-italic-700.woff2') format('woff2'), url('../fonts/default-italic-700.woff') format('woff'),
    url('../fonts/default-italic-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/default-normal-400.eot');
  src: url('../fonts/default-normal-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-normal-400.woff2') format('woff2'), url('../fonts/default-normal-400.woff') format('woff'),
    url('../fonts/default-normal-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/default-italic-400.eot');
  src: url('../fonts/default-italic-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/default-italic-400.woff2') format('woff2'), url('../fonts/default-italic-400.woff') format('woff'),
    url('../fonts/default-italic-400.ttf') format('truetype');
}
