---
layout: default
---

{%- assign collection = page.dir | split: "/" | last -%}
{%- assign size = collection | size | minus: 1 -%}
{%- assign title = collection | split: '-' | join: ' ' -%}
{%- assign items = site[collection] | sort: 'title' -%}
<section>
  <div class="container">
    <header>{{ title | upcase | escape }}</header>
    {% for item in items %}
      <article class="{{ collection | slice: 0, size }}" itemscope itemtype="http://schema.org/BlogPosting">
        <header>{{ item.title | escape }}</header>
        <div itemprop="articleBody">{{ item.content }}</div>
      </article>
    {% endfor %}
  </div>
</section>